body {padding: 10px;} 
p, h1, a, input, button {font-family: monospace; margin: 0; color:black; font-weight: normal;}
p {margin-top: 20px;}
canvas {border : solid black 1px;}
img {display: block;}
input, button {border: 1px black solid; margin:2px;}